@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #131433;
    --secondary: #791692;
    --primary-gradient: #20f9;
     --secondary-gradient: #E617F865;
}

*{
    scroll-behavior: smooth;
}
html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.circle1{
   background: radial-gradient( var(--primary-gradient)0 1%, transparent 60%);
}

.circle2{
    background: radial-gradient(var(--secondary-gradient)0 10%, transparent 90%);
}

.threeD{
    perspective: 3000px;
}

.normal{
   transform: translate3d(0, 0, 0);
}
.slideback{
    transform: translate3d(0, 0, -200px);
}

.PSB{
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;      
}

img[alt="mypic"], img[alt="blue-back"], img[alt="pink-back"]{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    transition: 1s;
}
img[alt="blue-back"]{
   left: 55%;
}
img[alt="pink-back"]{
   left: 50%;
}

.ellips{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}