@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
:root{
  height: 100vh;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bdr{
  border: 1px solid red;
}

.effect{
  animation: rotate 2s infinite linear;
}


@keyframes rotate {
  0%{
     transform: rotate(0deg);
     
  }
  100%{
    transform: rotate(360deg);
    
 }
}

html.dark .bg-gradient-green{
  background: linear-gradient(to left, rgba(16, 183, 24,0.1) 20%, rgba(16, 183, 24,0)100%);
}

html.dark .bg-gradient-yellow{
  background: linear-gradient(to left, rgba(172, 183, 16,0.1)20%, rgba(0,0,0,0)100%);
}

html:not(.dark) .bg-gradient-green{
  background: linear-gradient(to left, rgba(11, 156, 18, 0.5) 20%, rgba(16, 183, 24,0)100%);
}
html:not(.dark) .bg-gradient-yellow{
  background: linear-gradient(to left, rgba(172, 183, 16,0.6)20%, rgba(0,0,0,0)100%);
}

.loading{
   animation: loading 1s infinite linear;
}

@keyframes loading{
   0%{
      transform: rotate(0deg);
   }
   100%{
    transform: rotate(360deg);
 }
}